{
    email eisenhuth.tobias+letsencrypt@example.com
}

consently.eu,
www.consently.eu,
consently.online,
www.consently.online,
ownlyfacts.com,
www.ownlyfacts.com {
    tls {
        curves x25519mlkem768 x25519
    }

    encode gzip

    header {
        Content-Security-Policy "
          default-src 'self';
          script-src 'self' 'unsafe-inline' 'wasm-unsafe-eval';
          style-src  'self' 'unsafe-inline';
          img-src    'self' data:;
          font-src   'self' data:;
          connect-src 'self';
          object-src 'none';
          base-uri 'none';
          frame-ancestors 'none';
          form-action 'self'
        "

        Referrer-Policy        "no-referrer"
        X-Content-Type-Options "nosniff"
        X-Frame-Options        "DENY"

        Cross-Origin-Opener-Policy  "same-origin"
        Cross-Origin-Embedder-Policy "require-corp"
        Cross-Origin-Resource-Policy "same-origin"
    }

    reverse_proxy crs-proxy:8000 {
        header_up Host              {host}
        header_up X-Forwarded-Host  {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For   {remote}
    }
}
